/**override styles for ign base template**/
/**base styles for each new project**/
body {
	background-color: black;
}

/**mixins**/
@mixin typekit(){
	font-family: 'quarca',sans-serif;
	font-style: normal;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
}

@font-face {
    font-family: 'quarca';
    src: url('../fonts/quarca-norbolit-webfont.eot');
    src: url('../fonts/quarca-norbolit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quarca-norbolit-webfont.woff2') format('woff2'),
         url('../fonts/quarca-norbolit-webfont.woff') format('woff'),
         url('../fonts/quarca-norbolit-webfont.ttf') format('truetype'),
         url('../fonts/quarca-norbolit-webfont.svg#quarca_norm_bold_italnormBdIt') format('svg');
    font-weight: normal;
    font-style: normal;
}


[data-abide] .error small.error, [data-abide] .error span.error, [data-abide] span.error, [data-abide] small.error {
	display: block;
	padding: 0.275rem 0.5625rem 0.2625rem;
	margin-top: -1px;
	margin-bottom: 1rem;
	font-size: 0.65rem;
	font-weight: normal;
	font-style: italic;
	background: #f04124;
	color: white;
}

[data-abide] span.error, [data-abide] small.error {
	display: none;
}

footer {
	margin-top: 30px;
}


#main {
	min-height: 700px;
	background: transparent url(../img/hero_image.jpg) top center no-repeat;
	background-size: 100%;
	padding-top: 40px;

	.stars {
		margin: 0px auto;
		display: block;
	}

	.youtube {
		padding-bottom: 57.5%;

		iframe {
			-webkit-box-shadow: 0px 0px 5px 0px rgba(34, 71, 85, 1);
			-moz-box-shadow:    0px 0px 5px 0px rgba(34, 71, 85, 1);
			box-shadow:         0px 0px 5px 0px rgba(34, 71, 85, 1);
			border: 2px solid #000;
			background-color: black;
		}
	}

	.actors {
		@include typekit();
		color: white;
		text-align: center;
		letter-spacing: 15px;
		font-size: 26px;
		margin-top: 100px;
		padding-top: 20px;

		.highlight {
			color: #f57800;
			display: block;
			margin-top: 5px;
		}
	}

	.leftBox {
		padding-left: 20px;
	}
	.rightBox {
		padding-right: 20px;
	}

	.flex-video {
		overflow: visible;

		iframe {
			width: 100%;
			margin: 10px auto 60px;
		}
	}

	.top_bar {
		#packshots {
			margin-top: -15px;
		}

		img {
			width: 100%;
		}
	}

	#game_container {
		overflow: hidden;
		height: 590px;
	}
	
	.button {
		@include typekit();
		background-color: #f57800;
		color: white;
		width: 100%;
		font-size: 22px;
		letter-spacing: 5px;
		margin-top: 15px;
		padding-top: 0.7rem;
		padding-right: 1.3rem;
		padding-bottom: 0.5625rem;
		padding-left: 1.3rem;

		&:hover {
			background-color: white;
			color: black;
		}
	}


	ul#options {
		list-style: none;
		margin-top: 5px;
		margin-left: 0px;

		li {
			margin-bottom: 0px;
			text-align: right;

			a {
				color: white;
				@include typekit();
				font-size: 15px;
				
				&.active {
					color: #f57800;
				}
			}
		}
	}

}


.comp {
	background: transparent url(../img/evo_comp-bg2.png) top center no-repeat;
	padding-bottom: 9%;
	background-size: 100%;
	margin-top: -4%;


	p, a {
		font-family: $body-font-family;
	}

	.thanksWrapper {
		text-align: center;
	}

	.button {
		font-size: 2.5vw;
	}

	.comp_wrapper {

		.pushDown {
			margin-bottom: 10px; 
		}

		label {
			color: white;
		}

		input {
			display: block;
			margin-top: 3px;
			font-family: $body-font-family;
			background-color: transparent;
			color: white;
		}

		h2 {
			@include typekit();
			font-size: 33px;
			line-height: 1.1;
			margin: 43% 0px 5%;
			color: white;
		}

		p {
			font-size: 1.2vw;
			color: white;
		}


		form {

			h2 {
				margin: 35% 0px 3%;
				color: white;
			}
		}


		input.button {
			@include typekit();
			font-size: 2.5vw;
			letter-spacing: 3px;
			margin-top: 15px;
			color: black;
			background-color: white;
		}
	}


	label {
		font-family: 'unicod_sansultralight';
		font-weight: 600;

		&.checkboxLabel {
			font-family: $body-font-family;
			font-size: 12px;

			a {
				font-family: $body-font-family;
				font-weight: 600;
			}
		}
	}


}

p.sml_text {
	font-size: 11px;
	text-align: center;
	margin: 40px 0px;
	color: white;
	padding: 0px 10%;
}

/**end base styles**/


.thankyou-modal {
	position: absolute;
	background-color: #BCFFBB;
	padding: 20px 20px 2px;
	width: 96%;
	z-index: 9;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	margin-top: 85px;
}



// Small screens

@media only screen and (max-width: 40em) {

	#share_override.share_btn {
		width: 50%;
	}

	#main .actors {
		font-size: 18px;
		letter-spacing: 10px;
	}

	#main #game_container {
		overflow: hidden;
		height: 350px;
	}

	header {
		h1, p {
			text-align: center;
		}
	}

	#main {
		min-height: 700px;
		background: transparent url(../img/hero_image.jpg) top right no-repeat;
		background-size: 130%;
		padding-top: 40px;

		.button {
			font-size: 17px;
			padding-top: 0.4rem;
			padding-right: 1rem;
			padding-bottom: 0.2625rem;
			padding-left: 1rem;
		}
	}

	#main .rightBox, #main .leftBox {
		padding: 0px;
	}

	.logo_garden img {
		min-width: 100%;
		margin-left: 0px;
		padding: 8% 0% 0px;
	}

	.comp {
		background-size: cover;

		label {
			color: black;
		}

		.comp_wrapper h2 {
			margin: 7% 0px 2%;
		}

		.comp_wrapper input.button {
			font-size: 34px;
			margin: 20px auto 30px;
		}

		form h2 {
			color: black;
		}

		p {
			display: none;
		}
	}

	#evo_video {
		width: 80%;
	}

	.comp .comp_wrapper form h2 {
		margin: 15% 0px 3%;
		color: white;
	}

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 

	.logo_garden {
		img {
			padding: 5%;
			margin: auto;
			display: block;
		}
	}

	#main .button {
		font-size: 15px;
		padding-top: 0.4rem;
		padding-right: 1rem;
		padding-bottom: 0.2625rem;
		padding-left: 1rem;
	}


} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */


@media only screen and (max-width: 64.063em) {} /* min-width 1025px, large screens */

// Large screens
@media only screen and (min-width: 64.063em) {} /* min-width 1025px, large screens */
