/*
Syntax error: Undefined variable: "$body-font-family".
        on line 172 of /Users/davidmoores/Projects/lucy_hub-build/scss/ign_override.scss

167: 	background-size: 100%;
168: 	margin-top: -4%;
169: 
170: 
171: 	p, a {
172: 		font-family: $body-font-family;
173: 	}
174: 
175: 	.thanksWrapper {
176: 		text-align: center;
177: 	}

Backtrace:
/Users/davidmoores/Projects/lucy_hub-build/scss/ign_override.scss:172
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/script/tree/node.rb:50:in `perform'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:366:in `visit_prop'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `block in with_base'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `with_base'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `block (2 levels) in visit_rule'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `map'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `block in visit_rule'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:387:in `visit_rule'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `block in with_base'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `with_base'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `block (2 levels) in visit_rule'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `map'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `block in visit_rule'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:387:in `visit_rule'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `block in with_base'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `with_base'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/root_node.rb:20:in `render'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/engine.rb:274:in `render'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:484:in `update_stylesheet'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:214:in `block in update_stylesheets'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:208:in `each'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:208:in `update_stylesheets'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:462:in `on_file_changed'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:324:in `block in watch'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/vendor/listen/lib/listen/adapter.rb:254:in `call'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$body-font-family\".\A         on line 172 of /Users/davidmoores/Projects/lucy_hub-build/scss/ign_override.scss\A \A 167: 	background-size: 100%;\A 168: 	margin-top: -4%;\A 169: \A 170: \A 171: 	p, a {\A 172: 		font-family: $body-font-family;\A 173: 	}\A 174: \A 175: 	.thanksWrapper {\A 176: 		text-align: center;\A 177: 	}"; }
